@use "../abstracts/abstracts";

.btn{
    position: relative;
    height: 3.125rem;
    font-size: 1rem;
    text-align: center;
    background: linear-gradient(193.33deg, abstracts.$primary -11.44%, abstracts.$secondary 123.93%);
    color: white;
    border: none;
    border-radius: 1.5625rem;
    box-shadow: 0rem 0.25rem 0.625rem 0rem #00000040;
    &--large{
        width: 13.625rem;
    }
    &--small{
         width: 11.625rem;
    }
    &::after{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        opacity: 0;
        box-shadow: 0rem 0.25rem 1.25rem 0rem #00000040;
        background: #ffffff1f;
        border-radius: 1.5625rem;
        transition: all 400ms;
    }
    &:hover{
        &::after{
            opacity: 1;
        }
    }
}