@use "../abstracts/abstracts";

header{
    background: white;
    position: relative;
    z-index: 1;
    width: 100%;
    & .logo{
        padding-left: 17px;
        justify-content: space-between;
        width: 100%;
        height: 3.9375rem;
        & i{
            width: 17px;
            height: 16px;
        }
        & img{
            margin: auto;
            width: 23.4375rem;
            height: 2.625rem;
        }
    }
}

.location{
    background:  abstracts.$grey;
    box-shadow: 0 4px 4px abstracts.$shadow;
    color: abstracts.$grey-font;
    gap: 1.0625rem;
    width: 100%;
    height: 3.125rem;
     @media screen and (min-width: 780px) {
        box-shadow: none;
    }
    & span{
        font-size: 1rem;
    }
    & i{
        width: 0.75rem;
        height: 1rem;
        text-align: center;
        align-items: center;
    }
}

