
*{
    box-sizing: border-box;
    font-family: roboto;
}
body{
    background: #F6F6F6;
    margin: 0;
}

li{
    list-style-type: none;
}



h1,h2,h3,h4,p,ul{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}