* {
  box-sizing: border-box;
  font-family: roboto;
}

body {
  background: #F6F6F6;
  margin: 0;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.flexbox {
  display: flex;
}
.flexbox--column {
  flex-direction: column;
}
.flexbox--centre {
  justify-content: center;
  align-items: center;
}
.flexbox--space-between {
  justify-content: space-between;
}

/* colors */
.card {
  overflow: hidden;
  background: white;
  width: 100%;
  height: 15.6875rem;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
}
.card__tag {
  padding: 9px 6px;
  background: #99E2D0;
  color: #008766;
  position: absolute;
  right: 12px;
  top: 13px;
  font-size: 14px;
  padding: 6px 12.5px;
}
.card__img {
  position: relative;
  height: 10.875rem;
  width: 100%;
}
.card__img img {
  height: 231px;
  width: 100%;
  position: absolute;
  top: -57px;
  object-fit: cover;
}
.card__content {
  padding: 1rem 2.1875rem 0.75rem 0.8125rem;
}
.card__content__text h3 {
  font-size: 1.125rem;
  font-weight: bold;
}
.card__content__text span {
  font-size: 1.0625rem;
  font-weight: lighter;
}

.btn {
  position: relative;
  height: 3.125rem;
  font-size: 1rem;
  text-align: center;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  border: none;
  border-radius: 1.5625rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
.btn--large {
  width: 13.625rem;
}
.btn--small {
  width: 11.625rem;
}
.btn::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  opacity: 0;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2509803922);
  background: rgba(255, 255, 255, 0.1215686275);
  border-radius: 1.5625rem;
  transition: all 400ms;
}
.btn:hover::after {
  opacity: 1;
}

header {
  width: 100%;
}
header .logo {
  width: 100%;
  height: 3.9375rem;
}
header .logo img {
  width: 23.4375rem;
  height: 2.625rem;
}

.location {
  background: #EAEAEA;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2509803922);
  color: #353535;
  gap: 1.0625rem;
  width: 100%;
  height: 3.125rem;
}
.location span {
  font-size: 1rem;
}
.location i {
  width: 0.75rem;
  height: 1rem;
  text-align: center;
  align-items: center;
}

footer {
  padding: 1.375rem 1.5625rem;
  background: #353535;
}
footer img {
  height: 1.6875rem;
  width: 8.6875rem;
  margin-bottom: 1rem;
  color: white;
  filter: invert(1);
}
footer ul li {
  font-size: 1rem;
  color: white;
}
footer ul li i {
  margin-right: 0.6875rem;
}

.item {
  padding: 13.5px 15px;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
}
.item__text h3 {
  font-size: 18px;
  font-weight: 500;
}
.item__text span {
  font-size: 15px;
  font-weight: 300;
}
.item__price {
  justify-content: end;
}
.item:hover .item__selected {
  width: 10px;
}
.item__selected {
  width: 0%;
  background: #99E2D0;
  overflow: hidden;
}

.like-icon {
  position: relative;
  height: 21px;
  width: 22px;
  clip-path: url("../../assets/img/icon/Like.svg");
}
.like-icon img {
  height: 100%;
  width: 100%;
}
.like-icon::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../../assets/img/icon/Like.svg);
  opacity: 0;
  transition: all 400ms;
}
.like-icon:hover::after {
  opacity: 1;
}

.healine {
  padding: 2.4375rem 1.625rem 3.5625rem 2.125rem;
  width: 100%;
  text-align: center;
}
.healine h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2.4375rem 2rem 0 0.75rem;
}
.healine p {
  font-size: 1.125rem;
  font-weight: lighter;
  margin: 0 0 1.6875rem 0;
}
.healine .btn {
  margin: 0 auto;
}

.how-to-use {
  height: 27.5rem;
  width: 100%;
  padding: 3rem 1.25rem 4.25rem 1.25rem;
  background: white;
}
.how-to-use h2 {
  font-weight: bold;
  margin-bottom: 1.625rem;
}
.how-to-use__steps {
  gap: 1.5625rem;
}
.how-to-use__steps__step {
  background: #F6F6F6;
  border-radius: 1.25rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.0823529412);
  width: 100%;
  height: 4.5187rem;
  padding: 1.7813rem 2.375rem 1.7813rem 2.1563rem;
  position: relative;
}
.how-to-use__steps__step__number {
  font-size: 0.9063rem;
  text-align: center;
  align-content: center;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  background: #9356DC;
  color: white;
  box-sizing: content-box;
}
.how-to-use__steps__step i {
  margin-right: 1.25rem;
}
.how-to-use__steps__step span {
  font-size: 1rem;
}

.restaurants {
  padding: 2.6875rem 1.125rem 1.8125rem 1.125rem;
  margin-bottom: 2.3125rem;
}
.restaurants h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 1.5625rem 0.1875rem;
}
.restaurants__cards {
  gap: 1.125rem;
}

.restaurant {
  margin-top: 220px;
  background: #F6F6F6;
  border-radius: 40px;
  gap: 40px;
  padding: 32px 13px 40px 13px;
  position: relative;
  align-items: center;
}
.restaurant__title {
  align-items: center;
}
.restaurant__title h1 {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
}
.restaurant__title i {
  height: 21px;
  width: 22px;
  margin-right: 28px;
}
.restaurant__img {
  position: absolute;
  top: -220px;
  left: 0;
  right: 0;
  width: 100%;
  height: 275px;
  z-index: -1;
}
.restaurant__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restaurant__items {
  gap: 12px;
}
.restaurant h2 {
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.restaurant h2::after {
  content: "";
  width: 40px;
  border-bottom: solid 3px #99E2D0;
  display: block;
  margin-top: 10px;
}
.restaurant section {
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
