* {
  box-sizing: border-box;
  font-family: roboto;
}

body {
  background: #F6F6F6;
  margin: 0;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.flexbox {
  display: flex;
}
.flexbox--column {
  flex-direction: column;
}
.flexbox--centre {
  justify-content: center;
  align-items: center;
}
.flexbox--space-between {
  justify-content: space-between;
}

/* colors */
.card {
  overflow: hidden;
  background: white;
  width: 100%;
  height: 15.6875rem;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
}
.card__tag {
  padding: 9px 6px;
  background: #99E2D0;
  color: #008766;
  position: absolute;
  right: 12px;
  top: 13px;
  font-size: 14px;
  padding: 6px 12.5px;
}
.card__img {
  position: relative;
  height: 10.875rem;
  width: 100%;
}
.card__img img {
  height: 231px;
  width: 100%;
  position: absolute;
  top: -57px;
  object-fit: cover;
}
.card__content {
  padding: 1rem 2.1875rem 0.75rem 0.8125rem;
}
.card__content__text h3 {
  font-size: 1.125rem;
  font-weight: bold;
}
.card__content__text span {
  font-size: 1.0625rem;
  font-weight: lighter;
}

.btn {
  position: relative;
  height: 3.125rem;
  font-size: 1rem;
  text-align: center;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  border: none;
  border-radius: 1.5625rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
.btn--large {
  width: 13.625rem;
}
.btn--small {
  width: 11.625rem;
}
.btn::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  opacity: 0;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2509803922);
  background: rgba(255, 255, 255, 0.1215686275);
  border-radius: 1.5625rem;
  transition: all 400ms;
}
.btn:hover::after {
  opacity: 1;
}

header {
  background: white;
  position: relative;
  z-index: 1;
  width: 100%;
}
header .logo {
  width: 100%;
  height: 3.9375rem;
}
header .logo img {
  width: 23.4375rem;
  height: 2.625rem;
}

.location {
  background: #EAEAEA;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2509803922);
  color: #353535;
  gap: 1.0625rem;
  width: 100%;
  height: 3.125rem;
}
@media screen and (min-width: 780px) {
  .location {
    box-shadow: none;
  }
}
.location span {
  font-size: 1rem;
}
.location i {
  width: 0.75rem;
  height: 1rem;
  text-align: center;
  align-items: center;
}

footer {
  padding: 1.375rem 1.5625rem;
  background: #353535;
}
@media screen and (min-width: 840px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    padding: 3.5625rem 1.5625rem 1.875rem 1.5625rem;
  }
}
footer img {
  height: 1.6875rem;
  width: 8.6875rem;
  margin-bottom: 1rem;
  color: white;
  filter: invert(1);
}
footer ul {
  gap: 7px;
}
@media screen and (min-width: 840px) {
  footer ul {
    flex-direction: row;
  }
  footer ul > :nth-child(-n+2) {
    min-width: 190px;
  }
  footer ul > :nth-child(2n+2) {
    min-width: 130px;
  }
}
footer ul li {
  font-size: 1rem;
  color: white;
}
footer ul li i {
  margin-right: 0.6875rem;
}

.item {
  padding: 13.5px 15px;
  background: white;
  border-radius: 15px;
  width: 100%;
  max-width: 634px;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  position: relative;
  transition: all 250ms;
  overflow: hidden;
}
.item__text {
  flex-shrink: 1;
  flex-basis: content;
  margin-right: 5px;
  overflow: hidden;
}
.item__text h3 {
  font-size: 18px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.item__text span {
  display: block;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.item__price {
  justify-content: end;
}
.item:hover .item__selected {
  width: 59px;
  transition: all 250ms;
}
.item:hover .item__price {
  margin-right: 60px;
  transition: all 250ms;
}
.item__selected {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  width: 0%;
  /* width: 59px; */
  background: #99E2D0;
  overflow: hidden;
  border-radius: 0 15px 15px 0;
}
.item__selected i {
  align-content: center;
  text-align: center;
  color: #99E2D0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
}

.like-icon {
  position: relative;
  height: 21px;
  width: 22px;
  clip-path: url("../../assets/img/icon/Like.svg");
}
.like-icon img {
  height: 100%;
  width: 100%;
}
.like-icon::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../../assets/img/icon/Like.svg);
  opacity: 0;
  transition: all 400ms;
}
.like-icon:hover::after {
  opacity: 1;
}

@property --avanced {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 97%;
}
@property --avanced-reverse {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}
.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: white;
  flex-wrap: wrap;
  animation: loading-fadeout 3s forwards;
  align-content: center;
  padding: 10px;
}
.loading span {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: lighter;
}
.loading__logo {
  animation: loading-animation ease-out 3.5s forwards;
  width: 100%;
  text-align: center;
  font-family: Shrikhand;
  font-size: 50px;
  font-weight: bold;
  color: transparent;
  background-image: linear-gradient(to left, transparent var(--avanced), #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
}

.animation-warpper {
  height: 0;
  overflow: hidden;
  animation: show-animation 0s forwards;
  animation-delay: 3s;
}

@keyframes loading-animation {
  from {
    --avanced: 97% ;
  }
  to {
    --avanced: 0% ;
  }
}
@keyframes loading-fadeout {
  from {
    display: inherit;
  }
  to {
    display: none;
  }
}
@keyframes show-animation {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
.healine {
  padding: 2.4375rem 1.625rem 3.5625rem 2.125rem;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 780px) {
  .healine {
    padding: 1.875rem 0;
  }
}
.healine h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2.4375rem 2rem 0 0.75rem;
}
@media screen and (min-width: 780px) {
  .healine h1 {
    font-size: 2.5rem;
    margin: 0 0 1.125rem 0;
  }
}
.healine p {
  font-size: 1.125rem;
  font-weight: lighter;
  margin: 0 0 1.6875rem 0;
}
@media screen and (min-width: 780px) {
  .healine p {
    margin: 0;
  }
}
.healine .btn {
  margin: 0 auto;
}
@media screen and (min-width: 780px) {
  .healine .btn {
    margin: 1.125rem auto 0 auto;
  }
}

.how-to-use {
  width: 100%;
  padding: 3rem 1.25rem 4.25rem 1.25rem;
  background: white;
}
.how-to-use h2 {
  font-weight: bold;
  margin-bottom: 1.625rem;
}
.how-to-use__steps {
  gap: 1.5625rem;
}
@media screen and (min-width: 950px) {
  .how-to-use__steps {
    flex-direction: row;
  }
}
.how-to-use__steps__step {
  background: #F6F6F6;
  border-radius: 1.25rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.0823529412);
  width: 100%;
  height: 4.5187rem;
  padding: 1.7813rem 2.375rem 1.7813rem 2.1563rem;
  position: relative;
  max-width: 322px;
  min-width: 282px;
}
.how-to-use__steps__step__number {
  font-size: 0.9063rem;
  text-align: center;
  align-content: center;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  background: #9356DC;
  color: white;
  box-sizing: content-box;
}
.how-to-use__steps__step i {
  margin-right: 1.25rem;
}
.how-to-use__steps__step span {
  font-size: 1rem;
}

.restaurants {
  padding: 2.6875rem 1.125rem 1.8125rem 1.125rem;
  margin-bottom: 2.3125rem;
}
@media screen and (min-width: 1000px) {
  .restaurants {
    padding: 2.6875rem 12.5% 1.8125rem 12.5%;
  }
}
.restaurants h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 1.5625rem 0.1875rem;
}
.restaurants__cards {
  gap: 1.125rem;
  align-items: center;
}
.restaurants__cards__contenaire {
  max-width: 490px;
  width: 100%;
}
@media screen and (min-width: 780px) {
  .restaurants__cards {
    justify-content: center;
    align-content: space-between;
    align-items: start;
    gap: 0 6.5%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurants__cards__contenaire {
    width: 46.75%;
  }
  .restaurants__cards__contenaire:first-child {
    margin-bottom: 4.63%;
  }
}

.restaurant {
  position: relative;
  margin-top: 220px;
  width: 100%;
  align-items: center;
  background: white;
}
@media screen and (min-width: 1055px) {
  .restaurant {
    margin-top: 383px;
  }
}
.restaurant__menu {
  background: #F6F6F6;
  border-radius: 40px;
  gap: 40px;
  padding: 32px 13px 40px 13px;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: 1055px;
  width: 100%;
  z-index: 1;
}
.restaurant__menu__starters, .restaurant__menu__main-course, .restaurant__menu__deserts {
  max-width: 634px;
  width: 100%;
}
.restaurant__menu__starters :nth-child(1n+1).item, .restaurant__menu__main-course :nth-child(1n+1).item, .restaurant__menu__deserts :nth-child(1n+1).item {
  animation: slidein 800ms ease 1 100ms forwards;
}
.restaurant__menu__starters :nth-child(1n+2).item, .restaurant__menu__main-course :nth-child(1n+2).item, .restaurant__menu__deserts :nth-child(1n+2).item {
  animation: slidein 800ms ease 1 200ms forwards;
}
.restaurant__menu__starters :nth-child(1n+3).item, .restaurant__menu__main-course :nth-child(1n+3).item, .restaurant__menu__deserts :nth-child(1n+3).item {
  animation: slidein 800ms ease 1 300ms forwards;
}
.restaurant__menu__starters :nth-child(1n+4).item, .restaurant__menu__main-course :nth-child(1n+4).item, .restaurant__menu__deserts :nth-child(1n+4).item {
  animation: slidein 800ms ease 1 400ms forwards;
}
.restaurant__menu__starters :nth-child(1n+5).item, .restaurant__menu__main-course :nth-child(1n+5).item, .restaurant__menu__deserts :nth-child(1n+5).item {
  animation: slidein 800ms ease 1 500ms forwards;
}
@media screen and (min-width: 635px) {
  .restaurant__menu {
    padding: 51px 0 30px 0;
  }
}
@media screen and (min-width: 1055px) {
  .restaurant__menu {
    padding: 51px 0 30px 0;
  }
}
.restaurant__title {
  width: max-content;
  gap: 24px;
  align-items: center;
}
.restaurant__title h1 {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
}
.restaurant__title i {
  height: 21px;
  width: 22px;
  margin-right: 28px;
}
.restaurant__img {
  position: absolute;
  top: -220px;
  left: 0;
  right: 0;
  width: 100%;
  height: 275px;
  z-index: 0;
}
@media screen and (min-width: 1055px) {
  .restaurant__img {
    height: 423px;
    top: -383px;
  }
}
.restaurant__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restaurant__items {
  width: 100%;
  gap: 12px;
}
.restaurant__items .item {
  transform-origin: left;
  transform: scaleX(0);
}
.restaurant h2 {
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.restaurant h2::after {
  content: "";
  width: 40px;
  border-bottom: solid 3px #99E2D0;
  display: block;
  margin-top: 10px;
}

@keyframes slidein {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

/*# sourceMappingURL=index.css.map */
